In [2]:
with open("example.txt","w") as file:
    file.write("Hellow world")

In [3]:
!ls

example.txt

In [4]:
with open("example.txt","r") as file:
    print(file.read())

Hellow world

In [9]:
with open("example.txt","a") as file:
    file.write("\nHellow jupyter")
    file.write("\nData science")

In [11]:
with open("example.txt","r") as file:
    print(file.read())
    print(file.readline())

Hellow worldHellow jupyter
Hellow jupyter
Hellow jupyter
Data science

In [12]:
with open("example.txt","r") as file:
    print(file.readline())
    print(file.readline())

Hellow worldHellow jupyter

Hellow jupyter

In [14]:
with open("example.txt","r") as file:
    print(file.read(10))
    print(file.read(5))

Hellow wor
ldHel

In [18]:
list=["this is line 1","is line 2"]
with open("example1.txt","a") as file:
    for line in list:
        file.write(line)

In [19]:
with open("example1.txt","r") as file:
    print(file.read())

this is line 1this is line 2this is line 1is line 2

In [21]:
list=["this is line1\n","this is line2"]
with open("example2.txt","a") as file:
    file.writelines(list)

In [22]:
with open("example2.txt","r") as file:
    print(file.readlines())

['this is line1\n', 'this is line2']

In [29]:
import pandas as pd
list=["amol,","dhumal","\n", "james,","bond"]
with open("example.csv","w") as file:
    file.writelines(list)

In [32]:
with open("example.csv","r") as file:
    print(file.read())
df=pd.read_csv("example.csv",names=['a','b'])
df

amol,dhumal
james,bond

       a       b
0   amol  dhumal
1  james    bond